/* Set the styles for the header */
header {
    position: relative; /* Position the header relatively within its containing element */
    background: white; /* Set the background color to white */
    padding: 0; /* Remove padding */
    border-bottom: 1px solid black; /* Add a black bottom border */
}

/* Set the styles for anchor elements */
a {
    color: black; /* Set the text color to black */
}

/* Set the styles for anchor elements on hover */
a:hover {
    background: #830202; /* Change the background color to a dark red */
    color: white; /* Set the text color to white */
    cursor: pointer; /* Change the cursor to a pointer on hover */
}

/* Set the styles for the container */
.container {
    margin: 0 auto; /* Center the container horizontally */
    display: flex; /* Use flexbox to arrange its children */
    justify-content: space-between; /* Space the children evenly */
}

/* Set the styles for the logo */
.logo {
    font-weight: bold; /* Set the font weight to bold */
    padding: 1rem; /* Add padding */
}

/* Set the styles for unordered lists */
ul {
    display: flex; /* Use flexbox to arrange list items horizontally */
    list-style-type: none; /* Remove the default bullet points */
    margin: 0; /* Remove margin */
}

/* Set the styles for anchor elements within unordered lists */
ul a {
    padding: 1rem; /* Add padding to anchor elements */
    display: inline-block; /* Make anchor elements behave as blocks */
}

/* Set the styles for spans within anchor elements */
a span {
    background: #830202; /* Set the background color to a dark red */
    color: white; /* Set the text color to white */
    padding: 0.1rem 0.45rem; /* Add padding */
    border-radius: 100rem; /* Make the span appear as a circle */
    font-size: 0.9rem; /* Set the font size */
}

/* Set the styles for the menu container */
.menu-container {
    position: relative; /* Position the menu container relatively within its containing element */
}

/* Set the styles for the menu */
.menu {
    position: absolute; /* Position the menu absolutely within its containing element */
    z-index: 1; /* Set the stacking order to appear above other elements */
    background: whitesmoke; /* Set the background color to whitesmoke */
    display: none; /* Hide the menu by default */
}

/* Show the menu on hover of the menu container */
.menu-container:hover .menu {
    display: block; /* Show the menu when hovering over the menu container */
}

/* Set the styles for anchor elements within the menu */
.menu a {
    width: 100%; /* Set the width to 100% to fill the menu container */
    min-width: 8rem; /* Set a minimum width for the menu items */
}
